.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.text-outline {
  font-size: 48px;
  color: #000; /* Set the primary text color */
  text-shadow: -1px -1px 0 #fff, /* Top-left */ 1px -1px 0 #fff,
    /* Top-right */ -1px 1px 0 #fff, /* Bottom-left */ 1px 1px 0 #fff; /* Bottom-right */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #53f60f; /* Change to your desired color */
  border-radius: 5px;
  width: 8px; /* Adjust the width of the scrollbar thumb */
  height: 10px; /* Adjust the height of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: black;
}

@media (min-width: 768px) {
  .paddingComponentRight {
    padding-right: 52px;
  }
  .paddingComponentLeft {
    padding-left: 52px;
  }

  .text-title {
    font-size: 32px;
  }
  .text-title-card {
    font-size: 24px;
  }
  .text-desc-title {
    font-size: 18px;
  }
  .text-banner {
    font-size: 44px;
  }
  .width-why-us {
    width: 60%;
  }
  .width-location {
    width: 40%;
  }

  .hero-background {
    background-image: url("./assets/HeroImage.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: fit-content;
  }
  .hero-title {
    font-size: 72px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
  .paddingComponentRight {
    padding-right: 0px;
  }
  .paddingComponentLeft {
    padding-left: 0px;
  }

  .container {
    width: 90%; /* Adjust container width for smaller screens */
    margin: 0 auto; /* Center the container */
  }

  .menu {
    display: none; /* Hide the menu on smaller screens */
  }

  .mobile-menu {
    display: block; /* Show a mobile-friendly menu on smaller screens */
  }

  .card {
    width: 100%; /* Make cards fill the width of the container on smaller screens */
    margin-bottom: 20px; /* Add spacing between cards */
  }

  .text-title {
    font-size: 24px;
  }
  .text-title-card {
    font-size: 18px;
  }
  .text-desc-title {
    font-size: 12px;
  }
  .text-banner {
    font-size: 32px;
  }
  .width-why-us {
    width: 100%;
  }
  .width-location {
    width: 100%;
  }
  .hero-background {
  }
  .hero-title {
    font-size: 56px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black overlay */
  z-index: 9999;
}

.overlay.active {
  display: block; /* Show the overlay when it has the 'active' class */
}
